



/*.main {margin:0 100px 0 100px;*/
    /*padding:30px;*/
    /*background-color: #FFFFFF;}*/


.syouhin img{wigth:px;
    height:350px;
    text-align: center;}
.panel-warning{margin:0 300px 100px 300px;}

.panel-heading{font-size: 30px;}

.media-body{padding:0 60px 0px 60px;}